backcall @ file:///home/ktietz/src/ci/backcall_1611930011877/work
bert-score==0.3.9
boto3==1.17.104
botocore==1.20.104
certifi==2021.10.8
chardet==4.0.0
click==8.0.1
configparser==5.0.2
cycler==0.10.0
datasets==1.9.0
decorator @ file:///tmp/build/80754af9/decorator_1621259047763/work
dill==0.3.4
docker-pycreds==0.4.0
filelock==3.0.12
flake8 @ file:///tmp/build/80754af9/flake8_1620776156532/work
fsspec==2021.7.0
gitdb==4.0.7
GitPython==3.1.17
huggingface-hub==0.0.8
idna==2.10
importlib-metadata @ file:///tmp/build/80754af9/importlib-metadata_1617877307939/work
ipython @ file:///tmp/build/80754af9/ipython_1617120888991/work
ipython-genutils @ file:///tmp/build/80754af9/ipython_genutils_1606773439826/work
jedi @ file:///tmp/build/80754af9/jedi_1606932531272/work
jmespath==0.10.0
joblib==1.0.1
kiwisolver==1.3.1
matplotlib==3.4.2
mccabe==0.6.1
mkl-fft==1.3.0
mkl-random @ file:///tmp/build/80754af9/mkl_random_1618853971975/work
mkl-service==2.3.0
multiprocess==0.70.12.2
nltk==3.6.2
numpy @ file:///tmp/build/80754af9/numpy_and_numpy_base_1620831195661/work
packaging==20.9
pandas==1.3.0
parso==0.7.0
pathtools==0.1.2
pexpect @ file:///tmp/build/80754af9/pexpect_1605563209008/work
pickleshare @ file:///tmp/build/80754af9/pickleshare_1606932040724/work
Pillow==8.2.0
portalocker==2.0.0
promise==2.3
prompt-toolkit @ file:///tmp/build/80754af9/prompt-toolkit_1616415428029/work
protobuf==3.17.3
psutil==5.8.0
ptyprocess @ file:///tmp/build/80754af9/ptyprocess_1609355006118/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl
pyarrow==4.0.1
pycodestyle @ file:///tmp/build/80754af9/pycodestyle_1615748559966/work
pyflakes @ file:///tmp/build/80754af9/pyflakes_1617200973297/work
Pygments @ file:///tmp/build/80754af9/pygments_1621606182707/work
pyparsing==2.4.7
python-dateutil==2.8.1
pytorch-pretrained-bert==0.6.2
pytz==2021.1
PyYAML==5.4.1
regex==2021.4.4
requests==2.25.1
s3transfer==0.4.2
sacrebleu==1.5.1
sacremoses==0.0.45
scipy @ file:///tmp/build/80754af9/scipy_1630606796912/work
sentry-sdk==1.1.0
shortuuid==1.0.1
six @ file:///tmp/build/80754af9/six_1605205306277/work
smmap==4.0.0
subprocess32==3.5.4
tokenizers==0.10.3
torch==1.8.1
torch-dct==0.1.5
torchaudio==0.8.1
torchvision==0.9.1
tqdm @ file:///tmp/build/80754af9/tqdm_1615925068909/work
traitlets @ file:///home/ktietz/src/ci/traitlets_1611929699868/work
transformers==4.6.1
typing-extensions==3.10.0.0
urllib3==1.26.5
wandb==0.11.0
wcwidth @ file:///tmp/build/80754af9/wcwidth_1593447189090/work
xxhash==2.0.2
yapf @ file:///tmp/build/80754af9/yapf_1615749224965/work
zipp @ file:///tmp/build/80754af9/zipp_1615904174917/work
